.vs/
.git/
clojure_project/
Cpp/Debug/
Crystal/
CSharp/bin/
CSharp/obj/
Debug/
DirectX/
ElixirProject/
Go/
Java/.idea/
Java/out/
Kotlin/
Kotlin Koans/
Nim/
Nodejs/
OpenGL/
Python/__pycache__
Ruby/.idea
rust/
Scala/
SwiftProject/