.vs/
.git/

actix-project/
angular-project/

C/
clojure_project/

Cpp/Debug/
Cpp/include
Cpp/test.db
CSharp/bin/
CSharp/obj/

Dart/.dart_tool/
Dart/.idea/
Dart/test/

Debug/
DirectX/
DirectX_Tutorial/

elixir_project/

Go/.idea/

Java/.idea/
Java/out/

Kotlin/.idea/
Kotlin/out/

Nim/*.exe
Nim/tempCodeRunnerFile.nim

Nodejs/bin/
Nodejs/node_modules/
Nodejs/obj/
Nodejs/*.json
Nodejs/*.map
Nodejs/README.md

OpenGL/
OpenTK/
packages/

prism.css
prism.js
Python/.idea/
Python/__pycache__

Ruby/.idea/

rust/.idea/
rust/target/

Scala/.idea/
Scala/project/
Scala/target/
Scala/src/test/

SharpDXProject/

SwiftProject/Index
SwiftProject/SwiftProject.xcodeproj/
SwiftProject/XCode_Build
SwiftProjectWindows/

vue_project/