.vs/
.git/

clojure_project/

Cpp/Debug/
CSharp/bin/
CSharp/obj/

Debug/
DirectX/

elixir_project/

Go/.idea/

Java/.idea/
Java/out/

Kotlin/.idea/
Kotlin/out/

Nim/*.exe
Nim/tempCodeRunnerFile.nim

Nodejs/bin/
Nodejs/node_modules/
Nodejs/obj/
Nodejs/*.json
Nodejs/*.map
Nodejs/README.md

OpenGL/
OpenTK/
packages/

Python/__pycache__

Ruby/.idea/

rust/.idea/
rust/target/

Scala/.idea/
Scala/project/
Scala/target/
Scala/src/test/

SharpDXProject/

SwiftProject/Index
SwiftProject/XCode_Build
SwiftProjectWindows/